body {
    background-color: #132542;
    padding: 1%;
}

.building {
  width: 100%;
  float: right;
}

.window:hover {
  fill: #7c7c48;
}

.window {
  fill: #232323;
}

#buildings {
  position: absolute;
  bottom: 10%;
  width: 96%;
  display: flex;
  align-items: flex-end;
}
