body {
    background-color: #70b2ff;
    padding: 0%;
    margin: 0%;
}

.building {
  width: 100%;
  float: right;
}

.window:hover {
  fill: #c1c47f;
}

.windowActive {
  fill: #fdffce;
}


.window {
  fill: #232323;
}

#buildings {
  position: absolute;
  padding-left: 1%;
  padding-right: 1%;
  bottom: 0%;
  width: 98%;
  display: flex;
  align-items: flex-end;
}

#skyline {
  position: absolute;
  z-index: -1;
}

#plane {
  position: absolute;
  z-index: 2;
  width: 15%;
  bottom: 70%;
  left: -20%;
  animation: planeFly 25s linear infinite;
}

@keyframes planeFly {
  0% {left: -20%; -webkit-transform: scaleX(1); transform: scaleX(1);}
  49% {left: 120%; -webkit-transform: scaleX(1); transform: scaleX(1);}
  50% {left: 120%; -webkit-transform: scaleX(-1); transform: scaleX(-1);}
  100% {left: -20%; -webkit-transform: scaleX(-1); transform: scaleX(-1);}
}

@media only screen and (min-width: 1250px) {
  #skyline {
    bottom: -49%;
  }
  #plane {
    bottom: 80%;
  }
}

@media only screen and (max-width: 840px) {
  #skyline {
    bottom: 0%;
  }
  #plane {
    bottom: 50%;
  }
}
